html,
body,
.app {
  height: 100%;
}
body {
  font: 9px;
  margin: 10px;
  padding: 5px;
  font-family: Arial;
  color: #484848;
  background-color: #f7f7f7;
}
.app {
  min-height: 100%;
  margin-bottom: -30px;
}
.app:after {
  content: "";
  display: block;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -30px;
  height: auto;
  height: 100%;
}
.form {
  background: linear-gradient(top, #fff, #f8f8f8);
  border: 1px solid #d0d2d5;
  border-bottom: 1px solid #bebfc2;
  border-radius: 4px;
  margin: 0 0 20px 0;
  padding: 20px;
  display: block;
  width: 50%;
}
.headlong {
  padding: 1px 2px 2px;
}
.fldname {
  padding: 1px 2px 2px;
  text-align: right;
  font: 12px Arial;
}
.postlab {
  padding: 1px 2px 2px;
  text-align: left;
}
.field {
  padding: 1px 2px;
  display: inline-block;
}
.labels {
  font-size: 0.8em;
  font-family: Arial;
  font-weight: bold;
  text-align: right;
  float: left;
  width: 150px;
  padding: 4px;
}
.input {
  font-family: Consolas;
  border: 1px solid #a9a9a9;
  margin: 0 0 2 0;
  editable: true;
  display: block;
}
input:enabled {
  color: #000;
}
input:disabled {
  color: #c0c0c0;
}
.enabled {
  background-color: #fff;
  color: #000;
}
.key {
  border: 1px solid #f99;
}
.noKey {
  background-color: #fff;
}
.content {
  padding-bottom: 3em;
}
.footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
}
.delete {
  background-color: #f00;
}
.h1 {
  font: 72px;
  weight: bold;
  font-family: Arial;
  margin: 4px;
  border: 2px;
}
.subHead {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial;
  margin: 4px;
  border: 2px;
}
@font-face {
  font-family: arista;
  src: url("fonts/arista/Arista.ttf");
}
.ingeo {
  font-family: arista;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
